<%- include('includes/header') %>
  
  <div class="container py-md-5 container--narrow">

    <!-- new form here -->
    <form class="form-horizontal" action="/create-service" method="POST">
      <fieldset>
      <!-- Text input-->
      <div class="form-group">
        <label class="col-md-4 control-label" for="make">Make</label>  
        <div class="col-md-4">
        <input id="make" name="make" type="text" placeholder="Make of the vehicle" class="form-control input-md" required="">
        </div>
      </div>
      
      <!-- Text input-->
      <div class="form-group">
        <label class="col-md-4 control-label" for="model">Model</label>  
        <div class="col-md-4">
        <input id="model" name="model" type="text" placeholder="model of the vehicle" class="form-control input-md" required="">
          
        </div>
      </div>
      
      <!-- Text input-->
      <div class="form-group">
        <label class="col-md-4 control-label" for="licence">Licence</label>  
        <div class="col-md-4">
        <input id="licence" name="licence" type="text" placeholder="Licence or plate number" class="form-control input-md" required="">
          
        </div>
      </div>

      
      <!-- Select Basic -->
      <div class="form-group">
        <label class="col-md-4 control-label" for="engineType">Engine type</label>
        <div class="col-md-4">
          <select id="engineType" name="engineType" class="form-control">
            <option value="1">Petrol</option>
            <option value="2">Diesel</option>
            <option value="3">Electric</option>
            <option value="4">Hybrid</option>
            <option value="5">Other</option>
          </select>
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-4 control-label" for="dateService">Date</label>  
        <div class="col-md-4">
        <input id="dateService" name="dateService" type="date" placeholder="Choose a date" class="form-control input-md" required="">
          
        </div>
      </div>
      
      <!-- Textarea -->
      <div class="form-group">
        <label class="col-md-4 control-label" for="comments">Comments</label>
        <div class="col-md-4">                     
          <textarea class="form-control" id="comments" name="comments"></textarea>
        </div>
      </div>
      
      </fieldset>
      <button class="btn btn-primary">Save New Service</button>
      </form>
      <img src="" alt="">
  </div>
  
  <%- include('includes/footer') %>